@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Nunito+Sans:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #6e7985;
  background-attachment: fixed;
  height: fit-content;
  width: fit-content;
}
header {
  background-color: #0a0b0a;
  height: 5rem;
  width: 100vw;
  text-transform: uppercase;
  padding: 2rem 4rem 5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
ul {
  display: flex;
  flex-flow: row wrap;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #f8f9fa;
}

a {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  padding: 0rem 0.4rem;
  list-style: none;
  color: #f8f9fa;
  border: transparent;
}
.active {
  color: #f8f9fa;
  border-left: solid #f8f9fa 0.1rem;
  border-right: solid #f8f9fa 0.1rem;
  font-style: italic;
}
a:hover {
  font-style: italic;
}
main {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10rem 0rem;
}

section {
  background-color: #f8f9faab;
  padding: 2rem 2rem 4rem;
}

h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}
h2 {
  font-size: 5rem;
  font-weight: bolder;
}

h3 {
  font-size: 2.5rem;
  word-spacing: 0.3rem;
  text-align: center;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: justify;
  line-height: 3rem;
  word-spacing: 0.4rem;
}
.imagen_y_parrafo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.parrafo_central {
  order: 2;
  width: 65vw;
  font-size: 2rem;
  font-weight: 1000;
}
.figure_de_perfil {
  order: 1;
  border: solid 0.8rem;
  border-image-source: linear-gradient(45deg, #f8f9faab, #0a0b0a);
  border-image-slice: 5;
}
.parrafo_section {
  padding: 2rem 0rem;
}

.img_de_perfil {
  width: 27rem;
}
.h2 {
  align-self: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0b0a;
  height: 8rem;
}
