@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Nunito+Sans:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}
header {
  height: 5rem;
  width: 100vw;
  text-transform: uppercase;
  padding: 2rem 4rem 0rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

li {
  display: inline;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: black;
}

a {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  padding: 0rem 0.4rem;
  list-style: none;
  color: black;
}
a:hover {
  color: white;
  font-style: italic;
  font-size: 2.2rem;
}

main {
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 10rem;
}

section {
  padding: 2rem 0rem;
  background-image: url(../images/fondo_blanco.jpg);
}

h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
  word-spacing: 0.3;
}

h3 {
  font-size: 2.5rem;
  word-spacing: 0.3rem;
  text-align: center;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: justify;
  line-height: 3rem;
  word-spacing: 0.4rem;
  letter-spacing: 0.3rem;
}
img.de_perfil {
  border-style: solid;
  border-radius: 0.9rem;
  border-color: white;
  border-width: 1rem;
  box-shadow: 28px 4px 32px 23px rgba(0, 0, 0, 0.1);
}
footer {
  text-align: center;
}
